
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}

        <div id="main_tables">

            <div class="table_class">
                <div class="options_marked">

                </div>

                <table>
                    {{!-- <thead>
                        <tr>
                            <th colspan="1">{{word.firstLanguage}}</th>
                            <th colspan="3">{{word.firstLanguage}}</th>
                            <th colspan="3">{{word.secondLanguage}}</th>
                        </tr>
                    </thead> --}}

                    <tr>
                        <td>Theme</td>
                        <td>Level</td>

                        <td>Article</td>
                        <td>Word</td>
                        <td>Gender</td>

                        <td>Article</td>
                        <td>Word</td>
                        <td>Gender</td>
                    </tr>

                    {{#each word}}
                        <tr>
                            <td>{{theme}}</td>
                            <td>{{level}}</td>

                            <td>{{dataFirstLanguage.article}}</td>
                            <td>{{dataFirstLanguage.word}}</td>
                            <td>{{dataFirstLanguage.gender}}</td>

                            <td>{{dataSecondLanguage.article}}</td>
                            <td>{{dataSecondLanguage.word}}</td>
                            <td>{{dataSecondLanguage.gender}}</td>
                        </tr>
                    {{/each}}
                    
                </table>
            </div>
        </div>
    </div>

    {{> footer}}
</main>

{{> scripts}}