
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}    

        <div id="main_flash_card">

            {{!-- CARDS --}}
            <div class="partsofmain_flash_card">
                {{#each words}}
                    <div class="cards_container">
                        <input type="radio" class="checks" id="flip_card_{{@index}}" name="flashCard">
                        <label class="flip_card" id="label_card_{{@index}}" for="flip_card_{{@index}}">
                            <div class="flip_card_inner" id="flip_inner_{{@index}}">

                                <div class="flip_card_front">
                                    <div hidden>{{gender1}}</div>
                                    <h3 class="{{gender1}}">{{article1}}</h3>
                                    <h3 class="{{gender1}}">{{word1}}</h3>
                                </div>
                                
                                <div class="flip_card_back">
                                    <div class="back_card_container">
                                        <div hidden>{{gender2}}</div>
                                        <h3 class="{{gender2}}">{{article2}}</h3>
                                        <h3 class="{{gender2}}">{{word2}}</h3>
                                    </div>

                                    <div class="back_card_container button_select">
                                        <input type="checkbox" class="input_back_card" id="back_card_{{@index}}">
                                        <label class="general_button" for="back_card_{{@index}}">Select</label>
                                    </div>

                                    
                                </div>

                            </div>
                        </label>
                    </div>  
                {{/each}}
            </div>



            <div class="buttons_container">
                <input class="general_button button_resource" name="button_selected" id="button_selected" value="Selected">
            </div>
            
        </div>
    </div>
    {{> footer}}
</main>

<script src="/scripts/game-flashCard.js"></script>
{{> scripts}}