
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}    

        <div id="main_form_words">

            {{#each words}}
                <div class="container_challenger">
                    
                    {{!-- CORRECT WORD --}}
                    <div hidden>
                        {{!-- require: change set letter to word in Game as an object --}}
                        <p class="checkable" id="letter_checkable_{{@index}}" hidden>{{correctWord}}</p>
                    </div>

                    <div class="results_and_counter">
                        <div class="container_results">
                            {{#each arrayOfOrderedLetters}}

                                <p class="result_letter letter_{{@index}}">{{letter}}</p>

                            {{/each}}
                        </div>

                        <div class="container_counter">
                            <p class="quest_counter" id="quest_counter_{{@index}}"></p>
                        </div>
                    </div>


                    {{!-- CONTAINER TO DROP --}}
                    <div class="container partsofmain_form_words" id="container_answer_{{@index}}">
                        
                    </div>


                    {{!-- CONTAINER LETTERS START --}}
                    <div class="container partsofmain_form_words">
                        {{#each arrayOfMixedLetters}}

                            <p class="draggable letter_{{@index}}" draggable="true">{{letter}}</p>
                    
                        {{/each}}
                    </div>


                </div>
            {{/each}}


            {{!-- FEEDBACK --}}
            <div class="container_feedback">

                <div id="container_feedback_numbers"></div>

                <div class="container_answers_feedback">
                        
                    <div id="correct_answers">
                        <div class="feedback_h3">
                            <h3>Corrects</h3>
                        </div>
                    </div>

                    <div id="wrong_answers">
                        <div class="feedback_h3">
                            <h3>Wrongs</h3>
                        </div>
                    </div>
                </div>

                <div id="container_feedback_not_marked"></div>
            </div>
            

            {{!-- BUTTONS --}}
            <div class="buttons_container">
                <input class="general_button button_resource" id="button_resolve" value="Resolve">
                <input class="general_button button_resource" id="button_next" value="Next">
            </div>

            {{!-- <div class="partsofmain_form_words" id="challenger_space">
            
            
                
            </div> --}}


            
            <div>
                {{!-- RESTART BUTTON --}}
                <input type="submit" onClick="window.location.reload();" class="general_button" id="button_restart" value="Restart">
            </div>

            
        </div>
    </div>

    {{> footer}}
</main>


<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
{{!-- <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> --}}


<script src="/scripts/game-formWords.js"></script>
{{> scripts}}