
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}    

        <div id="main_memory">

            {{!-- CORRECT THE DIV CHANGES --}}
            <div class="partsofmain_memory">
                {{#each words}}
                    <div class="cards_container">
                        <input type="checkbox" class="checks" id="flip_card_{{@index}}" value="{{id}}">
                        <label class="flip_card" id="label_card_{{@index}}" for="flip_card_{{@index}}">
                            <div class="flip_card_inner" id="flip_inner_{{@index}}">
                                <div class="flip_card_front">
                                    
                                </div>
                                
                                <div class="flip_card_back">
                                    <div id="gender_{{@index}}" hidden>{{gender}}</div>
                                    <h3 id="article_{{@index}}">{{article}}</h3>
                                    <h3 id="word_{{@index}}">{{word}}</h3>
                                </div>
                            </div>
                        </label>
                    </div>  
                {{/each}}
            </div>

            <div class="partsofmain_memory container_cards_numbers" id="memory_cards_options">
                <h3>Number of Memory Cards</h3>
                <div class="inputs_and_labels">
                    <input type="radio" class="input_option" id="option_cards_8" name="option_cards" value="8">
                    <label class="button_resource general_button" for="option_cards_8" id="label_option_cards_8">8</label>

                    <input type="radio" class="input_option" id="option_cards_12" name="option_cards" value="12">
                    <label class="button_resource general_button" for="option_cards_12" id="label_option_cards_12">12</label>

                    <input type="radio" class="input_option" id="option_cards_16" name="option_cards" value="16">
                    <label class="button_resource general_button" for="option_cards_16" id="label_option_cards_16">16</label>

                    <input type="radio" class="input_option" id="option_cards_20" name="option_cards" value="20">
                    <label class="button_resource general_button" for="option_cards_20" id="label_option_cards_20">20</label>

                    <input type="radio" class="input_option" id="option_cards_24" name="option_cards" value="24">
                    <label class="button_resource general_button" for="option_cards_24" id="label_option_cards_24">24</label>
                </div>
            </div>


            <div class="partsofmain_memory">
                {{!-- RESTART BUTTON --}}
                <input type="submit" onClick="window.location.reload();" class="general_button" id="button_restart" value="Restart">
            </div>
        </div>
    </div>

    {{> footer}}
</main>

<script src="/scripts/game-memory.js"></script>
{{> scripts}}
{{!-- <script src="../../public/scripts/memory.js"></script> --}}