
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}    

        <div id="main_flash_card">



            <div class="counter_container">
                <div class="general_button">
                    <p>21/22</p>
                </div>
            </div>



            <div class="container_cards_buttons">
                <div class="container_side_buttons">
                    <button class="general_button" id="previous_button">Prev</button>
                </div>


                {{!-- CARDS --}}
                <div class="partsofmain_flash_card">
                    {{#each words}}
                        <div class="cards_container">
                            <input type="checkbox" class="checks" id="flip_card_{{@index}}" name="flashCard">
                            <label class="flip_card" id="label_card_{{@index}}" for="flip_card_{{@index}}">
                                <div class="flip_card_inner" id="flip_inner_{{@index}}">

                                    <div class="flip_card_front">
                                        <h3 class="{{gender1}}">{{article1}}</h3>
                                        <h3 class="{{gender1}}">{{word1}}</h3>
                                    </div>
                                    
                                    <div class="flip_card_back">
                                        <div class="back_card_container up_part">
                                            <h3 class="{{gender2}}">{{article2}}</h3>
                                            <h3 class="{{gender2}}">{{word2}}</h3>
                                        </div>

                                        <div class="back_card_container down_part button_select">
                                            <input type="checkbox" class="input_back_card" id="back_card_{{@index}}">
                                            <label class="button_select general_button" for="back_card_{{@index}}">Select</label>
                                        </div>
                                    </div>

                                </div>
                            </label>
                        </div>  
                    {{/each}}
                </div>



                <div class="feedback">
                    <p>feedback feedback feedback</p>
                </div>



                <div class="container_side_buttons">
                    <button class="general_button" id="next_button">Next</button>
                </div>
            </div>



            <div class="buttons_container">
                <input type="submit" onClick="window.location.reload();" class="general_button  button_resource" id="button_restart" value="Restart">

                <div class="select_resource">
                    <p>Select options for a new list </p>
                    <input class="general_button button_resource" name="button_selected" id="button_selected" value="Selected">
                </div>
            </div>
            
        </div>
    </div>
    {{> footer}}
</main>

<script src="/scripts/game-flashCard.js"></script>
{{> scripts}}